@import './Styles/reset.css';
@import './Styles/variables.css';

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}




html {
  font-size : var(--Base-font-size);
}

body {
 font-family: 'Ubuntu', sans-serif;
 line-height : 1.2;
 letter-spacing: .2rem;
 background-color: var( --secondary-color-96L);
 overflow: hidden;
}